<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./../styles/p1.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Page</title>
</head>
<body>
    <div>
        <div>
            <div class="Tasks">
               <p class="T1"><b class="t">Tasks</b> Lists</p>
            <div class="addlist">
              <p><i class="fa fa-plus-circle" aria-hidden="true" color=red></i>Add Lists</p>
            </div>
            </div >
            <div class="parent-container">
           <div class="card">
               <h3 class="Todo">
                   Trip to Paris
               </h3>
               <hr class="line">
               <p class="Comp"> <del>Completed Task</del></p>
                   <p class="pend" > &#9634 Pending Task</p>
           </div>
           <div class="card2">
            <h3 class="Todo">
                My Todo List
            </h3>
            <hr class="line">
            <p class="Comp"> <del>Completed Task</del></p>
            <p class="pend" > &#9634 Pending Task</p>
        </div>
        <div class="card3">
            <h3 class="Todo">
                My Todo List
            </h3>
            <hr class="line">
            <p class="Comp"> <del>Completed Task</del></p>
            <p class="pend" > &#9634 Pending Task</p>
        </div>
        </div>
    </div>
</body>
</html>