<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./../styles/p4.css">

    </head>
    <body>
        <div class="blur1">
        <div class="Head">
            <hr class="hr1">
        <h1 class="paris">Trip To Paris</h1>
        <hr class="hr2">
        <div class="back">
            
        <p><i class="fa fa-arrow-circle-left" style="color:red" ><span id="span1"></i>Back</i></span></p>
        </div>
        </div>

    </div>
    <div class="try1">
        <p id="nlist">Add New List</p>
        <!-- <div id="input"></div> -->
        <input id="input">
        <button id="adbtn">ADD</button>
    </div>
        
        <script src="" async defer></script>
    </body>
</html>