<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ASSIGMENT 3.1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./../styles/p5.css"></link>
      </head>


    <body>

      <div class="card">


        <div class="div1">
          <div style="font-weight: bold; margin-left: 10px; font-size:37px">Tasks</div>
          <div id="lists">Lists</div>
        <div class="plus"><span>&#43;</span></div>
        </div>

        <div class="box">
        <div id="griditem">Trip to Paris</div>
        <div id="griditem">My Todo List 2 </div>
        <div id="griditem">My Todo List 3</div>
        <div id="griditem">My Todo List 4</div>
        <div id="griditem">My Todo List 5</div>
        </div>

      </div>
    </body>
</html>